.clients-container {
  display: grid;
  grid-template-areas:
    "gauche droite";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vh; /* Espace entre les zones */
  height: 80vh;
  max-height: 80vh;/*
  width: 90vw;
  max-width: 90vw;
  margin-left: 10vh;
  /*margin: auto; /* Centre la grille horizontalement */
  /*border: 1px solid #ccc;*/ /* Contour général léger */
  border-radius: 1vh; /* Coins légèrement arrondis */
  padding: 2vh;
}

.zone {
  border-radius: 10px; /* Coins légèrement arrondis */
  padding: 10px;

}

#gauche{
  grid-area: gauche;
  background-color: rgba(243, 251, 247, 0.53); /* Couleur de fond léger */
  border: 1px solid #ccc; /* Contour de chaque zone */

}

#droite {
  grid-area: droite;
}
/* Styles pour le bouton Ajouter */
.btn-ajouter {
  color: white;
  border: none; /* Facultatif, pour un look plus propre */
  border-radius: 5px; /* Facultatif, pour des coins arrondis */
  padding: 10px; /* Facultatif, pour un peu de rembourrage */
  margin-right:2vw;
}

/* Styles pour le bouton Supprimer */
.btn-delete {
  background-color: red;
  color: white;
  border: none; /* Facultatif, pour un look plus propre */
  border-radius: 5px; /* Facultatif, pour des coins arrondis */
  padding: 10px; /* Facultatif, pour un peu de rembourrage */
  margin-right:2vw;
}

/* Styles pour le bouton Modifier */
.btn-modify {
  background-color: green;
  color: white;
  border: none; /* Facultatif, pour un look plus propre */
  border-radius: 5px; /* Facultatif, pour des coins arrondis */
  padding: 10px; /* Facultatif, pour un peu de rembourrage */
}

.field-error input {
  border-color: red;
}

.p-error {
  color: red;
}
