/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('../Picture/cloud-background.png');
  background-size: cover;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
